body {
    
    font-family: 'Roboto', sans-serif;
    background-image: url("horoscope-b-cover.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    margin: auto;
    width: 70%; 
    text-align: center;
    padding-bottom: 100px;
    

}

button {
    background-color: #f4511e;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  font-size: 14px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 17%;
}

button:hover {
    opacity: 1;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.result img {
    width: 150px;
}
h1,h3{
    color: aliceblue;
}
p{
    color: aliceblue;
    font-size: 25px;
}

#date {
    padding: 12px;
    width: 200px;
    text-align: center;
    border-color: white;
    border: 2px solid white;

}
audio {
    background-color: blue;
}
source {
background-color: pink;
}